  {% if page.previous.url or page.next.url %}
    <div class="PageNavigation">
        <div class="prev">
          {% if page.previous.url %}
            <a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% else %}
            &nbsp;
          {% endif %}
        </div>
        <div class="home">
          {% if page.previous.url or page.next.url %}
            <a href="/">Menu</a>      
          {% else %}
            &nbsp;
          {% endif %}
        </div>
        <div class="next">
          {% if page.next.url %}
            <a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          {% else %}
            &nbsp;          
          {% endif %}
        </div>
    </div>
    {% endif %}

